In [1]:
L=[10,20,30,40,50,60,70,80]
L.append(200)
L.append(300)
print("after 1",L)
L.remove(10)
L.remove(30)
print("after 2",L)
L.sort()
print("after 3",L)
L.sort(reverse=True)
print("after 4 ",L)

after 1 [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
after 2 [20, 40, 50, 60, 70, 80, 200, 300]
after 3 [20, 40, 50, 60, 70, 80, 200, 300]
after 4  [300, 200, 80, 70, 60, 50, 40, 20]

In [2]:
t=(45, 89.5, 76, 45.4, 89, 92, 58, 45)

print(max(t))
print(t.index(max(t)))
print(min(t))
print(t.count(min(t)))
lst=list(t[::-1])
print(lst)
n=int(input("enter the number"))
if(t.count(n)):
  print( t.index(n))
else:
  print("Not present")

92
5
45
2
[45, 58, 92, 89, 45.4, 76, 89.5, 45]
enter the number92
5

In [3]:
import random
random_nums=[random.randint(101,899) for i in range(100)]
#print(random_nums)
cnt=0
for i in random_nums:
  if(i%2==1):
    cnt+=1;
    print(i,end=" ")
print("\n")
print("count of odd no = ",cnt)
cnte=0
for i in random_nums:
  if(i%2==0):
    cnte+=1;
    print(i,end=" ")
print("\n")
print("count of even no = ",cnte)
def is_prime(n):
  if(n<=1):
    return False
  for i in range(2,n//2,1):
    if(n%i==0):
      return False
  return True
prime_numbers = [num for num in random_nums if is_prime(num)]
print("Prime numbers:", prime_numbers)
print(len(prime_numbers))

253 385 791 819 517 813 705 717 407 733 211 497 335 599 441 505 321 327 279 363 231 887 781 213 707 601 563 775 525 115 485 737 353 179 173 291 423 337 767 211 755 139 129 189 871 313 611 779 533 345 309 543 665 387

count of odd no =  54
748 566 282 496 294 536 388 362 208 734 430 890 154 894 584 162 834 468 752 644 758 434 480 256 812 198 308 572 314 550 292 450 778 548 740 642 106 116 356 636 166 738 280 664 238 450

count of even no =  46
Prime numbers: [733, 211, 599, 887, 601, 563, 353, 179, 173, 337, 211, 139, 313]
13

In [4]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(B.difference(A))
print(A.symmetric_difference(B))
if(A.issubset(B)):
  print("A is subset of B")
else:
  print("A is not subset of B")
if(B.issuperset(A)):
  print("B is superset of A")
else:
  print("B is not superset of A")
x=int(input("enter the number"))
if(x in A):
  A.remove(x)
  print("x is removed from A")
  print(A)
else:
  print(x ," is not present in A")

{34, 45, 78, 23, 56, 90}
{90, 78}
{56, 34}
{45, 23}
{34, 45, 23, 56}
A is not subset of B
B is not superset of A
enter the number45
45  is not present in A

In [5]:
sample_dict={"name":"Kelly",
            "age":25,
            "salary":8000,
            "city":"New york"}
sample_dict["location"]=sample_dict.pop("city")
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}