In [ ]:
for i in range(3):
  print("JASVIN TANEJA")

JASVIN TANEJA
JASVIN TANEJA
JASVIN TANEJA

In [ ]:
a=10
b=20
c=30
print(a,"+",b,"+",c,"=",a+b+c)

10 + 20 + 30 = 60

In [ ]:
a="hello"
b="my"
c="world"
print(a+b+c)

hellomyworld

In [ ]:
for i in range(1,11,1):
  print(7,"x",i,"=",7*i,"   ",9,"x",i,"=",9*i)
  print("\n")

7 x 1 = 7     9 x 1 = 9


7 x 2 = 14     9 x 2 = 18


7 x 3 = 21     9 x 3 = 27


7 x 4 = 28     9 x 4 = 36


7 x 5 = 35     9 x 5 = 45


7 x 6 = 42     9 x 6 = 54


7 x 7 = 49     9 x 7 = 63


7 x 8 = 56     9 x 8 = 72


7 x 9 = 63     9 x 9 = 81


7 x 10 = 70     9 x 10 = 90

In [ ]:
n=int(input("enter any integer of your choice\n"))
for i in range(1,11,1):
   print(n,"x",i,"=",n*i)

enter any integer of your choice
2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [8]:
n=int(input("Enter a number\n"))
sum=0
for i in range(1,n+1,1):
  sum=sum+i
print(sum)

Enter a number
13
91

In [9]:
a=int(input("enter first number\n"))
b=int(input("enter second number\n"))
c=int(input("enter third number\n"))
max_no=max(a,b,c)
print("max= ",max_no)

enter first number
23
enter second number
13
enter third number
11
max=  23

In [14]:
n=int(input("enter first number\n"))
sum=0;
for i in range(1,n+1,1):
  if(i%7==0 and i%9==0):
    sum=sum+i
print(sum)

enter first number
23
0

In [10]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 10
17

In [11]:
n=int(input("enter first number\n"))
sum=0
for i in range(1,n+1,2):
  sum=sum+i
print(sum)

enter first number
55
784

In [12]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 23
100